.ui.vertical.menu .dropdown.item .menu {
  min-width: max-content;
  margin: 0px !important;
}

.ui.selection.dropdown .menu {
  min-width: max-content;
  width: max-content;
}

.ui.search.dropdown .menu {
  max-height: 500px;
}